<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - QuoteGenerator</title>
    <link rel="stylesheet" href="stylesheets/aboutstyle.css">
</head>
<body>
    <nav>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li> 
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="about-container">
        <h1>About Us</h1>
        <p>Welcome to <strong>QuoteGenerator</strong>!</p>
        
        <section class="about-section">
            <h2>Author: Prathamesh Charoskar</h2>
            <h2>Why We Created This Site</h2>
            <p>
                We understand that sometimes all it takes is a single quote to change your perspective, boost your mood, or give you the motivation you need to tackle life's challenges. That's why we created <strong>QuoteGenerator</strong> – to provide you with a never-ending source of inspiration, at the click of a button.
            </p>
        </section>

        <section class="about-section">
            <h2>What We Offer</h2>
            <p>
                Our quote generator offers a wide range of quotes across various categories, including life, love, success, wisdom, and more. Each time you visit, you'll find a new quote to inspire you, handpicked from our vast collection.
            </p>
        </section>

        <section class="about-section">
            <h2>Our Mission</h2>
            <p>
                Our mission is to make it easy for you to find the right words at the right time. We believe that everyone deserves a little inspiration in their life, and we’re here to provide it.
            </p>
        </section>

        <section class="about-section">
            <h2>Get In Touch</h2>
            <p>
                We love hearing from our users! If you have any questions, suggestions, or just want to share your favorite quote, feel free to contact us at <strong>Your Contact Information</strong>.
            </p>
        </section>

        <section class="about-section">
            <h2>Open Soucre</h2>
            <p>This Website code is open source avialble on git-hub <a href="https://github.com/pratham2060/QuoteGenerator.git">CLICK HERE!</a> to go to the repository </p>
        </section>

        <p>Thank you for visiting <strong>QuoteGenerator</strong>. We hope our quotes bring a smile to your face and inspiration to your day!</p>
    </div>
</body>
</html>
