<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generate random quotes and explore more features on our site.">
    <meta name="keywords" content="quotes, quote generator, random quotes">
    <meta name="author" content="Prathamesh Charoskar">

    <script src="https://kit.fontawesome.com/4d5341ab5c.js" crossorigin="anonymous"></script>
    <title>Quote Generator</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <nav>
        <div class="heading">
            <h1>Quote's</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li> 
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <section class="main">
        <div class="main-container">
            <div class="quote-container">
                <div class="quote">
                    <div class="quote-lines">Click on Generate button to get the quote</div>
                    <div class="author"></div>
                </div>
                <button id="generateButton">Generate</button>
            </div>
            <div class="model"><img src="images/model.jpg" alt="" srcset=""></div>
        </div>
    </section>

    <footer>
        <div class="footer-sec">
            <div class="footer-container">
                <div class="social-link tabs">
                    <h2>Social Links</h2>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="links tabs">
                    <h2>Useful Links</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p>©Copyrights reserved to Prathamesh Charoskar</p>
        </div>
    </footer>

    <script src="/javascripts/script.js"></script>
</body>
</html>
